body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.food-card {
  display: flex;
  align-items: center;
  gap: 10vw;
  background-color: rgb(206, 203, 203);
  width: 50vw;
  padding: 1vw;
  padding-right: 6vw;
  padding-left: 2vw;
  margin: 1vw 0vw;
}

img {
  width: 8vw;
  height: 7vw;
  background-color: white;
}

.food_name {
  font-weight: bolder;
}

.inputNumber {
  border: 2px solid purple;
}

.btn {
  border: 2px solid purple;
  background-color: purple;
  color: white;
}

.foodItem {
  display: flex;
  gap: 5vw;
  margin: 0 2vw;
}

.overall {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.reset-btn {
  height: max-content;
  background-color: rgb(77, 76, 76);
  color: white;
  padding: .8vw 1.8vw;
  box-shadow: 5px 5px 5px gray;

}

.search_container {
  margin: 0 2vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.search {
  margin-right: auto;
}

.search h3 {
  margin: 0;
  display: flex;
  align-self: flex-start;
}